body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

nav {
  background-color: #e7e7e7;
  height: 45px;
  width: 100vw;
}

ul {
  padding: 0;
  width: 100%;
}

li {
  list-style-type: none;
  padding: 10px;
  border-bottom: 5px solid #e7e7e7;
}

.divform {
  padding-top: 40px;
}

.tablediv {
  margin: 20px;
  border: 5px solid #e7e7e7;
  border-radius: 5px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  margin: 10px;
}

.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}


.btn {
  background-color: #e7e7e7;
  border: none;
  color: #000;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  display: flex;
}

#name,
#score {
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
  margin-bottom: 20px;
}