@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body,
main,
div,
h3,
ul,
li,
p {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #edf1fd;
}

.todo-list {
  border: 1px solid rgba(201, 194, 194, 0.966);
  box-shadow: 2px 2px 12px rgb(0 0 0 / 5%);
}

.container {
  margin-top: 5rem;
  padding: 2rem;
  box-sizing: border-box;
}

li {
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid rgba(201, 194, 194, 0.966);
}

.score-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: white;
  padding: 1rem;
}

.left-container {
  max-width: 450px;
  margin-left: 2rem;
}

.right-container {
  max-width: 450px;
  margin-right: 2rem;
}

.refresh-container {
  flex-direction: row;
  justify-content: space-around;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 400px;
  height: 150px;
}

.btn-submit {
  max-width: 100px;
  align-self: flex-end;
}

.score-list {
  border: 1px solid rgba(201, 194, 194, 0.966);
  box-shadow: 2px 2px 12px rgb(0 0 0 / 5%);
}

.bg-secondary {
  background-color: rgba(160, 160, 160, 0.712);
}
